.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/App.podspec
android/app/debug/
android/app/profile/
android/app/release/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/
.idea/
.vscode/
*.iml
.DS_Store
.env
